div {
  width: auto;
  display: inline-block;
}

*{padding:0;margin:0;} 

@keyframes glowing {
0% { background-color: #2ba805; box-shadow: 0 0 3px #2ba805; }
50% { background-color: #49e819; box-shadow: 0 0 10px #49e819; }
100% { background-color: #2ba805; box-shadow: 0 0 3px #2ba805; }
}

.floatPlus{
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	left:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:100px;
	text-align:center;
	line-height: 120px;
    box-shadow: 2px 2px 3px #999;
    font-size: 50px;
    z-index: 9999;
}

.floatMinus{
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	left:140px;
	background-color:#0C9;
	color:#FFF;
	border-radius:100px;
	text-align:center;
	line-height: 120px;
	box-shadow: 2px 2px 3px #999;
    font-size: 50px;
    z-index: 9999;
}

.floatBlink{
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:#F00;
	color:#FFF;
	border-radius:100px;
	text-align:center;
	line-height: 120px;
	box-shadow: 2px 2px 3px #999;
    font-size: 50px;
    z-index: 9999;
} 

.my-float{
	margin-top:22px;
    z-index: 9999;
}
